.vs/NinjaInator2020/DesignTimeBuild/.dtbcache.v2
.vs/NinjaInator2020/config/applicationhost.config
.vs/NinjaInator2020/v16/.suo
.vs/NinjaInator2020/v16/TestStore/0/000.testlog
.vs/NinjaInator2020/v16/TestStore/0/testlog.manifest
.vscode/launch.json
**/bin
**/obj
**/node_modules
**/dist
**/wwwroot